body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}

.film {
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}

.sold-out {
  color: rgb(211, 211, 211);
  text-decoration: line-through;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
.film:hover {
cursor:pointer;
text-decoration: underline;
}
.film-item{
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}
#deleteContent{
 display: grid;
  color: rgb(133, 184, 184);
  height: 20px;
  border-radius: 4px;

}
